<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Índice de Massa Corporal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Índice de Massa Corporal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">  

    <ion-label for="inpAltura">Altura (em metros)</ion-label>
    <ion-input [(ngModel)]=inpAltura type="number"></ion-input>

    <ion-label for="inpPeso">Peso (em kg)</ion-label>
    <ion-input [(ngModel)]=inpPeso type="number"></ion-input>

    <ion-button (click)="showToast()" color="success">CALCULAR IMC</ion-button>

  </div>
</ion-content>
